<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vibe_check.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <vibe_check.Config>
            <setting name="Font" serializeAs="String">
                <value>Times New Roman</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="LONG_TIRE_CODE" serializeAs="String">
                <value>61485</value>
            </setting>
            <setting name="FIRST_LINE" serializeAs="String">
                <value>35.45</value>
            </setting>
            <setting name="TOP_BOTTOM" serializeAs="String">
                <value>56.7</value>
            </setting>
            <setting name="LEFT" serializeAs="String">
                <value>85.05</value>
            </setting>
            <setting name="RIGHT" serializeAs="String">
                <value>42.5</value>
            </setting>
        </vibe_check.Config>
    </userSettings>
</configuration>